* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}